{% if app.user %}
    <div  style="position:fixed; bottom:0; text-align:center; right:0; left:0; background-color: white">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href={{ path('app_home') }}>Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ path('app_rooms') }}>Les salles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ path('app_mesreservations') }} >Mes réservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ path('app_login') }}>Déconnexion</a>
            </li>
        </ul>
    </div>
{% else %}
    <div  style="position:fixed; bottom:0; text-align:center; right:0; left:0; background-color: white">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href={{ path('app_home') }}>Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ path('app_rooms') }}>Les salles</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href={{ path('app_login') }}>Connexion</a>
            </li>
        </ul>
    </div>
{% endif %}


