{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!
{% endblock %}

{% block body %}
    <div class="card mx-auto mt-5" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title text-center">{{ room.name }}</h3>
            <h5 class="card-text">{{ form_start(form) }}</h4>
            <h5 class="card-text text-center my-3">{{ form_row(form.startDate) }}</h5>
            <h5 class="card-text text-center my-3">{{ form_row(form.endDate) }}</h5>
            <h5 class="card-text text-center my-3">{{ form_row(form.save) }}</h5>
            <h5 class="card-text text-center">{{ form_end(form) }}</h5>
        </div>
    </div>


{% endblock %}
